@mixin fArial ($fontSize, $fontColor, $fontWeight)
{
	font-family: Arial, Tahoma, sans-serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $fontColor;
}

.toggle {
    -webkit-transition: linear 1s;
    -moz-transition: linear 1s;
    -ms-transition: linear 1s;
    -o-transition: linear 1s;
    transition: linear 1s;
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}